bash/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/.cache
.clj-kondo/imports
eventplannerjs/out
build
www
rcprojectsdir/.cpcache
rcprojectsdir/.clj-kondo/.cache
rcprojectsdir/.shadow-cljs
rcprojectsdir/node_modules
.clj-kondo/.cache
.cpcache
*.#*
.lsp/.cache
*/__pycache__*
**/__pycache__*
package-lock.json
*hn_all_stories.csv
python/hn_checkpoint.json
db_dump*
database_dump*
node_modules