{
 :deps true
 :nrepl {:port 7002
         :host "0.0.0.0"}
 :http {:port 9630
        :host "0.0.0.0"}
 :builds {:app
          {
           :devtools {
                      :autobuild true
                      }
           :output-dir "out"
           :target :browser
           :modules {:main {:init-fn rcprojectsdir.core/load-page}}
           }
          :prod {
                 :output-dir "prod_js"
                 :target :browser
                 :modules {:main {:init-fn rcprojectsdir.core/load-page}}
                 }
          }
 }
