@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.subtle-select,
.subtle-select option {
    color: #3e4247;
    align-self: flex-start;
    width: 15rem;
}
